# Nom DNS du contrôleur de domaine
AD_HOST=LAB-DC01.identityaudit.test

# LDAP : 389
# LDAPS : 636
AD_PORT=636

# false pour LDAP, true pour LDAPS
AD_USE_SSL=true

# Base DN Active Directory
AD_BASE_DN=DC=identityaudit,DC=test

# Compte dédié en lecture seule pour le collecteur
AD_BIND_USERNAME=collecteur@identityaudit.test

# Ne jamais placer un vrai mot de passe dans ce fichier
AD_BIND_PASSWORD=change-me

# Timeout LDAP en secondes
AD_TIMEOUT_SECONDS=15

# Certificat public de la CA utilisée pour valider le serveur LDAPS
AD_TRUSTED_CA_CERTIFICATE=/chemin/vers/IdentityAudit-Lab-RootCA.cer